@max-zIndex: 2147483647;
@bg-color: #DDD;
@hover-outline: 1px dotted #ff0000 !important;
@selected-outline: 1px dotted #0000ff !important;

.emu-hover {
    outline: @hover-outline;
    z-index: 999999 !important;
}

.emu-selected {
    outline: @selected-outline;
    z-index: 999999 !important;
}

.emu-send {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px;
    z-index: @max-zIndex;
    display: none;
    background-color: @bg-color;
    text-align: center;
    * {
        background-color: @bg-color;
    }
    img {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
    .emu-control {

    }
}

.emu-has-selected {
    img {
        animation: circle 1.5s linear 0s infinite normal;
    }
}

.emu-result {
    background: @bg-color;
    position: fixed;
    right: 5px;
    top: 5px;
    padding: 5px;
    font-size: 12px;
    z-index: 999999;
    a {
        color: #000;
        text-decoration: underline;
        font-size: 12px;
        &:hover {
            color: #d92200;
        }
    }
}

@-webkit-keyframes circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
