.emu-hover {
    outline: 3px inset #ff0000 !important;
    z-index: 999999 !important;
}

.emu-selected {
    outline: 3px inset #0000ff !important;
    z-index: 999999 !important;
}

.emu-send {
    position: fixed;
    background-color: rgba(255, 220, 54, 0.8);;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    right: 20px;
    top: 20px;
    z-index: 2147483647;
    cursor: pointer;
    display: none;
    outline: none !important;
    img {
        width: 64px;
        height: 64px;
        outline: none !important;
    }
}

.emu-has-selected {
    animation: circle 1.5s linear 0s infinite normal;
}

@-webkit-keyframes circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.emu-send:hover {
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 238, 156, 0.8);
    -moz-box-shadow: 0 0 5px 1px rgba(255, 238, 156, 0.8);
    box-shadow: 0 0 5px 1px rgba(255, 238, 156, 0.8);
}